.form-container {
  width: 1000px;
}

.title,
.subtitle {
  text-align: center;
}

.btn {
  width: 100%;
}

.alert {
  margin-bottom: 3*var(--basic-padding);
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}